.casting-link{
	font-size: .95em;
	//text-transform: uppercase;
	padding-top:20px;
	font-family: TheSans_B2_5_,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: .8125em;
}

.artwork-link{
	width: auto !important;
}

.grow-proc { transition: all .2s ease-in-out; width: 90%;}
.grow-proc:hover { transform: scale(1.06); z-index:0 }